<% unless current_user %>
  <h1>Добро пожаловать</h1>
  <p>Добро пожаловать в систему Uninot</p>

  <p>
  Для того, что-бы приступить к работе с системой, Вам необходимо <%= link_to "войти", new_user_session_path %> или 
  <%= link_to "зарегистрироваться", new_user_registration_path %>.
  </p>
  <p>
  Вам необходимо определиться с ролью. Кто Вы? Староста группы или преподаватель? В процессе регистрации, вы сможете
  выбрать свою роль.
  </p>
  <p>
  Роль старосты обычно проста - он создает и управляет своей группой. В его обязанности входит добавление одногрупников,
  оповещение о различных мероприятиях по мере возможности и т.д.
  </p>
  <p>
  Если Вы преподаватель, то Все что вам нужно, это не стесняться и предупреждать группу о каких-либо изменениях в расписании.
  Коллектив сервиса желает Вам удачи!
  </p>
<% end %>